body{
	background: slategray;
}

header{
	background: tomato;
}

main{
	background: skyblue;
}

footer{
	background: slategray
	clear:both;
}

#left{
  background: limegreen;
	float:left;
	width:100px;
	margin-right: 10px;
}

#center{
  background: seagreen;
	float:left;
	width:280px;
	margin-right: 10px;
}

#right{
  background: lightgreen;
	float:right;
	width:100px;
}

.container{
	width:500px;
	margin: 0 auto;
}

.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

.clear{
	overflow: hidden;
}