/*


*/

.container {
  width: 500px;
  margin: 0 auto;
}

header {
  background: tomato;
}

ul#menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
}

ul#menu > li {
  display: inline-block;
}

ul#menu > li > a {
  display: inline-block;
  width: 80px;
  height: 40px;
  background: orange;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

ul#menu > li > a:hover {
  opacity: 0.5;
  transition: 0.8s;
}

ul#lessons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul#lessons h2, ul#lessons p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

main {
  background: skyblue;
}

footer {
  background: slategray;
}